<!DOCTYPE html>
<html>
<head>
  <title>BookRouterApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body ng-app="BookApp">
  <div ng-view>
  </div>
  {{1+1}}
  <a href="mean">Mean Page</a>
</body>
</html>
