<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form action="/books" method="post">
    <div>
      <input type="text" name="book[title]">
    </div>
    <div>
      <textarea name="book[description]"></textarea>
    </div>
    <button>Save Book</button>
  </form>
</body>
</html>