<!DOCTYPE>
<html>
<head>
  <title>Book App</title>
</head>
<body>
  <form action="/books" method="post">
    <div>
      <input type="text" name="book[title]">
    </div>
    <div>
      <input type="text" name="book[author]">
    </div>
      <button>SAVE</button>
  </form>
</body>
</html>